/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Esteban:regular);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker:regular);
	
/*new code*/

@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Pacifico:regular);





/*Background*/

body {
	background-image: linear-gradient(to right, rgba(204, 116, 116, 0.47), rgb(47, 14, 214));
	
	
  }

  #thumbnail {
	
	padding: 5px;
	width: 150px;
  }


h2 {
font-family: 'Permanent Marker';
font-style: initial;
  }

  

.navbar {
position: top;
	top:0;  
}

#nav1
{  
    background-color:rgb(22, 3, 3);
    opacity: 0.8; 
    filter:(opacity=70);
	font-style: normal;
	font-weight: bold;
	position: top;
	  
}

.navlink
{
	color: #ffffff;
	text-decoration: none;
	margin: 0 1em;
	font-weight: bold;

}



.caption {
	font-size: larger;
	font-style: italic;
	font-family: Pacifico;
	font-stretch: expanded;
}

#imageTop {
	height: auto;
	width: auto;
	
}

#aboutMe {
	font-family: 'Times New Roman', Times, serif;
}