/* Reset default styles */
@import url(https://fonts.googleapis.com/css?family=Esteban:regular);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker:regular);
	
/*new code*/

@import url(https://fonts.googleapis.com/css?family=Raleway);







/*Background*/

body {
	background-image: linear-gradient(to right, rgba(204, 116, 116, 0.47), rgb(47, 14, 214));
	
	
  }

  img {
	border: 1px solid #852727;
	border-radius: 5px;
	padding: 5px;
	width: 150px;
  }


h2 {
font-family: 'Permanent Marker';
font-style: initial;
  }

.border {
	border-width:3px !important;
	border-color: rgb(229, 144, 144) !important;

}

.navbar {
position: top;
	top:0;  
}

#nav1
{  
    background-color:rgb(22, 3, 3);
    opacity: 0.8; 
    filter:(opacity=70);
	font-style: normal;
	font-weight: bold;
	position: top;
	  
}

.navlink
{
	color: #ffffff;
	text-decoration: none;
	margin: 0 1em;
	font-weight: bold;

}
/*what*/

