/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Esteban:regular);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker:regular);
	
/*new code*/

@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Pacifico:regular);





/*Background*/

body {
	background-image: linear-gradient(to right, rgba(204, 116, 116, 0.47), rgb(47, 14, 214));
	
	
  }

 #thumbnail {
	padding: 5px;
	width: 150px;
  }


h2 {
font-family: 'Permanent Marker';
font-style: initial;
  }

  

.navbar {
position: top;
	top:0;  
}

#nav1
{  
    background-color:rgb(22, 3, 3);
    opacity: 0.8; 
    filter:(opacity=70);
	font-style: normal;
	font-weight: bold;
	position: top;
	  
}

.navlink
{
	color: #ffffff;
	text-decoration: none;
	margin: 0 1em;
	font-weight: bold;

}



.caption {
	font-size: larger;
	font-style: italic;
	font-family: Pacifico;
	font-stretch: expanded;
}

#imageTop {
	height: auto;
	width: auto;
	
}

#aboutMe {
	font-family: 'Times New Roman', Times, serif;
}


.lightbox-gallery {
	background-image: linear-gradient rgba(204, 116, 116, 0.47), rgb(47, 14, 214);background-repeat: no-repeat;color: #000;overflow-x: hidden}
.lightbox-gallery p{color:#fff}
.lightbox-gallery h2{font-weight:bold;margin-bottom:40px;padding-top:40px;color:#fff}
@media (max-width:767px){.lightbox-gallery h2{margin-bottom:25px;padding-top:25px;font-size:24px}}
.lightbox-gallery .intro{font-size:16px;max-width:500px;margin:0 auto 40px}
.lightbox-gallery .intro p{margin-bottom:0}
.lightbox-gallery .photos{padding-bottom:20px}
.lightbox-gallery .item{padding-bottom:30px};

footer {
    background-image: linear-gradient(#0fd35a, rgb(0, 0, 0)) !important;
    padding: 20px 0; }


.carousel-caption {
        background-color: rgba(0, 0, 0, 0.5); }
      
.carousel {
        border: solid #5637dd; }
      
#carouselButton {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 100; }
